<mat-toolbar class="navbar">
  <div class="navbar__inner">
    <a class="brand" routerLink="/register">
      <img src="logo-rpromo.png" alt="RPromo" class="brand__logo" height="32" />
      <span class="brand__title">Painel RPromo</span>
    </a>

    <nav class="navbar__links">
      <a mat-button routerLink="/register" routerLinkActive="is-active">
        <mat-icon>person_add</mat-icon> Cadastro
      </a>
      @if (isAuthenticated()) {
        <a mat-button routerLink="/dashboard" routerLinkActive="is-active">
          <mat-icon>dashboard</mat-icon> Painel
        </a>
        <button mat-button (click)="logout()">
          <mat-icon>logout</mat-icon> Sair
        </button>
      } @else {
        <a mat-button routerLink="/login" routerLinkActive="is-active">
          <mat-icon>login</mat-icon> Entrar
        </a>
      }
    </nav>
  </div>
</mat-toolbar>
